<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AdonisJS | Webpack / Tailwind</title>
  <link rel="stylesheet" href="{{ asset('main.css') }}">
</head>

<body class="flex justify-center items-center w-screen min-w-full h-screen bg-slate-100">
  <div class="pt-10 pb-10 pr-4 pl-4 bg-slate-200 text-gray-800 rounded-lg drop-shadow-2xl">
    <h1 class="text-4xl mb-16">Welcome to Adonisjs whit Webpack and Tailwindcss !</h1>
    <div class="flex items-start">
      <div class="w-64">
        <img src="/images/banner.png" alt="">
      </div>
      <div class="pl-20">
        <div class="flex justify-start items-start">
          <div class="pb-4">
            <h2 class="font-bold underline mb-2">Commands :</h2>
            <ul class="list-disc pl-6  text-lg text-gray-600">
              <li>yarn run dev</li>
              <li>yarn run build</li>
              <li>yarn run webpack:dev</li>
              <li>yarn run webpack:build</li>
            </ul>
          </div>
          <div class="pl-24 pb-4">
            <h2 class="font-bold underline mb-2">Docs :</h2>
            <ul class="list-disc text-lg pl-6">
              <li><a class="hover:underline text-blue-500" target="_blank" rel="noopener noreferrer"
                href="https://yarnpkg.com/">Yarn</a></li>
              <li><a class="hover:underline text-blue-500" target="_blank" rel="noopener noreferrer"
                  href="https://docs.adonisjs.com/guides/introduction">AdonisJs</a></li>
              <li><a class="hover:underline text-blue-500" target="_blank" rel="noopener noreferrer"
                  href="https://webpack.js.org/concepts/">Webpack</a></li>
              <li><a class="hover:underline text-blue-500" target="_blank" rel="noopener noreferrer"
                  href="https://tailwindcss.com/docs/installation">Tailwindcss</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <em class="font-bold">Edit <span class="underline font-normal">resources/views/home.edge</span>
        file and
        reload</em>
    </div>
  </div>
  <script src="{{ asset('main.js') }}"></script>
</body>
</html>